<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Truthy Video</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/layouts.css">
    <link rel="stylesheet" href="./css/modules.css">

</head>
<body>

    <h1>Truthy Video</h1>
   
   <div class="navBar">
   <ul>
    <li><a href="/">Home</a></li>
    <li><a href="about">About Us</a></li>
    <li><a href="favorites">Favorites</a></li>
   </ul>
 </div>

 <ul>
  <% apples.forEach(result => { %>
      <form action="/deleteFavorites" method="post">
          <img src="<%= result.picture %>" />
          <li><%= result.name %></li>
          <li><%= result.locations %></li>
          <% apples.forEach(icon => { %>
            <!-- <%= icon.providerIcon %> -->
            <li><img src= "<%= icon.providerIcon %>" /></li>
            <% }) %>
             
          <input type="hidden" name="picture" value="<%= result.picture %>" />  
          <input type="hidden" name="name" value="<%= result.name %>" />
          <input type="hidden" name="locations" value="<%= result.locations %>" />
 
      <button>Delete from my favorites</button>
      </form>
  <% }) %>
</ul>




 </html>
