<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('./layout/head.ejs') %>
  
  </head>
  <body>
    <%- include('./layout/header.ejs') %>

  <ul>
    <% apples.forEach(result => { %>
    <form action="/favorites" method="get">
      <img src="<%= result.picture %>" />
      <li><%= result.name %></li>
      <li><%= result.locations %></li>
      <li><%= result.comments %></li>
      <!-- <% apples.forEach(icon => { %>
      <li><img src="<%= icon.providericon %>" /></li>
      <% }) %> -->

      <input type="hidden" name="picture" value="<%= result.picture %>" />
      <input type="hidden" name="name" value="<%= result.name %>" />
      <input type="hidden" name="locations" value="<%= result.locations %>" />
      <input type="hidden" name="id" value="<%= result.id %>" />
     
    </form>

    <form action="/deleteFavorites" method="post">
      <input type="hidden" name="id" value="<%= result.id %>" />
      <button type="submit" class="clsButton">Delete from my favorites</button>
    </form>
    <% }) %>
  </ul>




</html>