<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Truthy Video</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/layouts.css">
    <link rel="stylesheet" href="./css/modules.css">

</head>
<body>
<h1>Truthy Video</h1>
   
 <div class="navBar">
   <ul>
    <li><a href="/">Home</a></li>
    <li><a href="about">About Us</a></li>
    <li><a href="favorites">Favorites</a></li>
   </ul>
 </div>
 
<form action="/search" method="get">
  <input class = "grid-item" type="text" name="search" placeholder="Enter a title or author" required>
</form>
<ul>
  <% bananas.forEach(result => { %>
      <!-- <form action="/favorites" method="post"> -->
          <img src="<%= result.picture %>" />
          <li><%= result.name %></li>
          <li><%= result.locations %></li>
          <% bananas.forEach(icon => { %>
            <!-- <%= icon.providerIcon %> -->
            <li><img src= "<%= icon.providerIcon %>" /></li>
            <% }) %>
        

          <input type="hidden" name="name" value="<%= result.name %>" />
          <!-- <input type="hidden" name="thumbnail_url" value="<%= result.thumbnail_url %>" /> -->
      <button>Add to my favorites</button>
      </form>
  <% }) %>
</ul>
</body>
</html>
